<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Онлайн турниры и система жеребьевки</title>
    <meta name="keywords" content="Задачи" />
    <meta name="description" content="Задачи" />
    <meta name="author" content="chesscup" />
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css"  />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script src="/js/jquery/dist/jquery.min.js"></script>
    <style>
        a.black {
            color : black
        }
    </style>

</head>
<body id="app" class="base preload base brown Rosewood Staunton online light">




    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">

        <a class="navbar-brand" href="/">chesscup.org <sup>beta</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><%- __("MenuHome") %> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/play">Playzone</a>
                </li>
                <% if (user && user.user && user.user.is_team_owner) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/teams/<%= user.user.is_team_owner %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Моя команда<span id="team_applies_count" class="badge badge-light">0</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/teams/<%= user.user.is_team_owner %>">Моя команда</a>
                            <a class="dropdown-item" href="/teams">Команды</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/teams">Команды</a>
                    </li>
                <% } %>


                <% if (user && user.user && user.user.is_league_owner) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/leagues/<%= user.user.is_league_owner %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Моя лига
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/leagues/<%= user.user.is_league_owner %>">Моя лига</a>
                        <a class="dropdown-item" href="/leagues">Лиги</a>
                    </div>
                </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/leagues">Лиги</a>
                    </li>
                <% } %>


                <li class="nav-item">
                    <a class="nav-link" href="/errorfound">Нашли ошибку?</a>
                </li>
            </ul>

            <ul class="navbar navbar-nav navbar-right">

               <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="lang__title" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item lang-choose" href="/ru">Русский</a>
                        <a class="dropdown-item lang-choose" href="/en">English</a>
                    </div>
                </li>-->



                <% if (user && user.user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.user.name %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/users/<%= user.user.id %>">Профиль</a>
                            <a class="dropdown-item" href="/logout"><%- __("MenuLogout") %></a>
                        </div>
                    </li>
                <% } else { %>
                <!-- Authentication Links -->



                <li class="nav-item"><a class="nav-link" href="/signup"><%- __("MenuReg") %></a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><%- __("MenuLogin") %></a></li>

                <% }  %>

            </ul >

        </div>
        </div>


    </nav>
    <div class="container" id="wrp">

    <%- body -%>

</div>

<footer class="my-5 pt-5 text-muted text-center text-small">

    <style>
        .black-block {
            color: #fff;
        }
        .showMessage {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3000;
            background-color: #B90008;
            width: 100%;
            text-align: center;
            padding: 10px;
            box-shadow: 0 6px 12px 0 #000;
            border: 1px solid #fff;
            /* display: none; */
        }
        .showMessageAdBlock .closeMessageAdBlock {
            right: 0;
            top: 3px;
            cursor: pointer;
        }
        .close-window {
            font-size: 20px;
            cursor: pointer;
        }
        .close-window:hover {
            opacity: 0.8;
        }
    </style>

    <div class="showMessage black-block hidden" id="showMessage">
        <div class="caps h2">Соединение прервано! Ожидайте синхронизации...</div>
    </div>

</footer>
    <script src="/js/bootstrap/js/popboot.js"></script>
    <!--<link async href="/stylesheets/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



    <script>
        $(".lang-choose").on("click", function (event) {
            event.preventDefault();
            var lang = $(this).attr("href").replace("/", "");
            setCookie("lang", lang, 9999);
            location.reload();
            return false;
        });


        $(function () {
            var lang = getCookie("lang");
            if (lang === "ru") {
                $("#lang__title").html("Русский");
            } else if (lang === "en") {
                $("#lang__title").html("English");
            } else {
                $("#lang__title").html("Language");
            }

        })



        function getCookie (name)
        {
            var prefix = name + '=';
            var cookieStartIndex = document.cookie.indexOf(prefix);
            if (cookieStartIndex == -1) {
                return null;
            }
            var cookieEndIndex = document.cookie.indexOf(';', cookieStartIndex + prefix.length);
            if (cookieEndIndex == -1) {
                cookieEndIndex = document.cookie.length;
            }
            return unescape(document.cookie.substring(cookieStartIndex + prefix.length, cookieEndIndex));
        }
        function setCookie (name, value, time) {
            valueEscaped = escape(value);
            expiresDate = new Date();
            expiresDate.setTime(expiresDate.getTime() + time * 24 * 3600 * 1000);
            expires = expiresDate.toGMTString();
            newCookie = name + '=' + valueEscaped + '; path=/; expires=' + expires + ';';
            if (valueEscaped.length <= 4000) {
                document.cookie = newCookie;
            }
        }

    </script>


    <% if (user && user.user) { %>
        <script>
            var u = '<%= user.user.id %>';
        </script>

    <!--<script src="/js/player.min.js"></script>-->

    <% }  %>




    <script src="/js/ws.min.js"></script>
    <% if (user && user.user) { %>
        <script>
            $.get("/visit", function (data) {
                if (data && data.status === "ok") {
                    if (typeof data.applies_count !== "undefined" && data.applies_count > 0) {
                        $("#team_applies_count").html(data.applies_count);
                        $("#team_applies_count").removeClass("badge-light").addClass("badge-danger");
                    }
                }
            });
        </script>

    <% }  %>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131728454-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131728454-1');
    </script>

</body>
</html>