<style>
    .badge.badge-outlined {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
</style>

<% for (var i = 0; i < tournaments.length; i++) { %>

<a href="/tournament/<%= tournaments[i].id %>" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="row">

        <div class="col-lg-9">

            <%  if (tournaments[i].is_active === 0) { %>
                <h4 class="mb-0"><%= tournaments[i].title %></h4>
                <span class="badge badge-outlined mb-2 mt-2 timer hidden" data-time="<%= (tournaments[i].start_time) ? tournaments[i].start_time.getTime() - new Date().getTime() : 0 %>">Стартует через: 3 часа</span>
            <% } else  { %>
                <h4 ><%= tournaments[i].title %></h4>
            <% } %>
            <div>
                <%  if (tournaments[i].is_online) { %>
                <span class="badge badge-danger">Online</span>
                <% } %>

                <%  if (tournaments[i].type === 1) { %>
                <span class="badge badge">Швейцарская система</span>
                <% } %>

                <%  if (tournaments[i].type === 2) { %>
                <span class="badge badge">Круговая система</span>
                <% } %>

                <span class="badge badge"><%= tournaments[i].amount %> + <%= tournaments[i].time_inc %></span>

            </div>
        </div>

        <div class="col-lg-3">

            <div class="progress" style="height: 8px;">
                <div class="progress-bar" role="progressbar" style="width: <%= (tournaments[i].current_tour/tournaments[i].tours_count)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <%  if (tournaments[i].type === 1) { %>
            <span class="badge p-0 mt-2 mb-2">тур <%= (tournaments[i].current_tour <= tournaments[i].tours_count) ? tournaments[i].current_tour : tournaments[i].tours_count %>/<%= tournaments[i].tours_count %></span>
            <% } %>
            <div class="d-flex justify-content-between align-bottom">
                <div class="mt-2">
                    <span class="badge p-0 mt-1 mb-1">Участников : <%= tournaments[i].participants_count %></span>
                </div>
                <div><img src="/images/blank.png" class="float-right flag flag-<%= tournaments[i].country.toLocaleLowerCase() %>" title="<%= countries[tournaments[i].country] %>" alt="<%= countries[tournaments[i].country] %>"></div>
            </div>
        </div>
    </div>
</a>
<% } %>