
<% layout('boilerplate') -%>

<style>
    .form-signin {
        max-width: 430px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading"><%- __("LoginTitle") %></h2>

    <% if (typeof message != "undefined") { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
    <% } %>
    <% if (typeof signup != "undefined") { %>
    <div class="alert alert-success">
        <%= signup %>
    </div>
    <% } %>




    <label for="inputEmail" class="sr-only"><%- __("LoginEmail") %></label>
    <input type="email" id="inputEmail" class="form-control" placeholder="<%- __("LoginEmail") %>" required autofocus name="username">
    <label for="inputPassword" class="sr-only"><%- __("LoginPassword") %></label>
    <input type="password" id="inputPassword" class="form-control" placeholder="<%- __("LoginPassword") %>" required name="password">

    <button class="btn btn-lg btn-primary btn-block" type="submit"><%- __("LoginLogin") %></button>


    <a href="/signup" class="btn btn-light btn-block mt-3"><%- __("LoginRegister") %></a>


    <a class="float-right mt-2" href="/password/reset">Forgot password?</a>

</form>

