
<% layout('boilerplate') -%>

<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/tournament">Турниры</a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>"><%= tournament.title %></a></li>
                <li class="breadcrumb-item" aria-current="page">Жеребьевка</li>
            </ol>
        </nav>
    </div>
</div>


<div class="d-flex justify-content-between ">
    <div>
        Всего туров : <%= tournament.tours_count %> <br>
        <%  if (tournament.current_tour <= tournament.tours_count) { %>
            Текущий : <%= tournament.current_tour %>
        <% } else if (tournament.current_tour > tournament.tours_count)  { %>
            Турнир завершен
        <% } %>
    </div>

    <% if (user && user.user && user.user.id === tournament.creator_id) { %>

        <div class="d-flex justify-content-end noprint">
            <span class="noprint">
                <input type="button" class="btn btn-light noprint mr-2" value="Распечатать" onClick="window.print()" />
            </span>

            <div class="dropdown mr-2 noprint">
                <button class="btn btn-info dropdown-toggle noprint" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Действия
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="/tournament/<%= tournament.id %>/edit" class="dropdown-item">Редактировать</a>
                    <a href="/tournament/<%= tournament.id %>/participants" class="dropdown-item">Участники</a>
                    <a class="dropdown-item" href="#"  id="delete_all">Обнулить турнир</a>
                </div>
            </div>

            <span class="noprint">
            <%  if ((tournament.current_tour === null || tournament.current_tour >= 0) && (tournament.current_tour < tournament.tours_count)) { %>
                <button class="btn btn-primary noprint btn-lg" id="next_tour">Сделать жеребьевку <%= tournament.current_tour+1 %> тура</button>
            <% } else if (tournament.current_tour == tournament.tours_count) { %>
                    <button class="btn btn-primary btn-lg noprint" id="next_tour">Завершить турнир</button>
            <% } else if (tournament.current_tour >= tournament.tours_count) { %>
                <a href="/tournament/<%= tournament.id %>/final" class="btn btn-primary noprint btn-lg">Итоговая таблица</a>
            <% } %>
            </span>
        </div>

        <script>
            var owner = true;
        </script>

    <% } %>
</div>


<style>
    .green {
        color: green;
    }
    .red {
        color: red;
    }

</style>




<div class="row mt-3">
    <div class="col-12">
        <div id="pairing"></div>
    </div>
    <div class="col-12 text-center noprint">
        <span class="small">Туры</span>
        <% for (var i = 1; i < tournament.tours_count + 1; i++) { %>
         <% if (typeof tour_id != "undefined" && i == tour_id) { %>
            <a class="btn btn-danger" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } else if (i <= tournament.current_tour) { %>
            <a class="btn btn-primary" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } else { %>
            <a class="btn btn-primary disabled" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } %>



    <% } %>
        <% if (tournament.is_closed === 1) { %>
        <a class="btn btn-primary" href="/tournament/<%= tournament.id %>/final">Итоговая таблица</a>
        <% } %>
    </div>
    <div class="col-12 mt-5 noprint">
        <div id="participants">

            <h5>Текущая таблица результатов</h5>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th style="width: 2%"><span class="d-none d-sm-block">Место</span></th>
                    <th>Имя</th>
                    <th><span class="d-none d-sm-block">Кол-во очков</span></th>
                    <th style="width:2%"></th>
                    <th style="width:2%"></th>
                    <% if (user && user.user && user.user.id === tournament.creator_id) { %>

                    <th style="width:2%"></th>
                    <% } %>

                </tr>
                </thead>
                <tbody>
            <% for (var i = 0; i < participants.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td>
                        <a href="/users/stat/<%= participants[i].user_id %>">
                            <%= participants[i].name %>
                        </a>
                        (<%= participants[i].tournaments_rating %>) <%- (participants[i].is_active === 0) ? "<span class='badge badge-danger'>выбыл</span>" : "" %></td>
                    <td><%= participants[i].scores %></td>
                    <td className="text-center">
                        <a href="" class="fa fa-eye participant"  data-id="<%= participants[i].user_id %>" ></a>
                    </td>

                    <td className="text-center">
                        <a target="_blank" href="/users/stat/<%= participants[i].user_id %>" title="График ученика" class="fa far fa-chart-line ml-1" data-id="<%= participants[i].user_id %>"></a>
                    </td>
                    <% if (user && user.user && user.user.id === tournament.creator_id) { %>

                    <td  className="text-center">
                            <%- (participants[i].is_active === 0) ? "" : '<span class="fa fa-trash font-weight-bold removeParticipant"  data-id="'+ participants[i].user_id + '"></span>' %>

                        </td>
                    <% } %>

                </tr>
            <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="user_results_modal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" id="user_results">

                <h2>Загрузка</h2>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    var pairing = JSON.parse('<%- pairing %>');
    var scores_object = JSON.parse('<%- scores_object %>');
    var tournament_id = '<%= tournament.id %>';
    var current_tour = '<%= tournament.current_tour %>';
    var tour_id = '<%= (typeof tour_id != "undefined") ? tour_id : null %>';

</script>

<script src="/js/p.min.js"></script>

<script src="/js/pairing.min.js"></script>

<link href="/css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">
