
<% layout('boilerplate') -%>

<script src='https://www.google.com/recaptcha/api.js'></script>


<style>
    .form-signin {
        max-width: 430px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<form class="form-signin form-vertical" method="post" action="/signup">
    <h2 class="form-signin-heading"><%- __("RegTitle") %></h2>

    <% if (typeof errors != "undefined") { %>
    <div class="alert alert-danger m-1">
        <% for (var i in errors) { %>
        <div><%= errors[i].msg %></div>
        <% } %>
    </div>
    <% } %>



    <style>
        .form-control{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    </style>



    <div class="form-group mt-2">

        <label for="inputName" id="labelinputName"><%- __("RegFIO") %></label>

        <input type="text" id="inputName" class="form-control" placeholder="<%- __("RegFIO") %>"
               value="<% if (typeof name != "undefined") { %><%=name%><% } %>" required autofocus name="name">
    </div>
    <div class="form-group mt-2">
        <label for="inputEmail"><%- __("LoginEmail") %></label>
        <input type="email" id="inputEmail" class="form-control" placeholder="<%- __("LoginEmail") %>"
               value="<% if (typeof username != "undefined") { %><%=username%><% } %>" required autofocus name="username">
    </div>

    <div class="form-group mt-2">
        <label for="inputPassword"><%- __("LoginPassword") %></label>
        <input type="password" id="inputPassword" class="form-control" placeholder="<%- __("LoginPassword") %>" required name="password">
    </div>
    <div class="form-group mt-2">

        <label for="passwordConfirmation"><%- __("RegPassConfirm") %></label>
        <input type="password" id="passwordConfirmation" class="form-control" required placeholder="<%- __("RegPassConfirm") %>"  name="passwordConfirmation">
    </div>

    <div class="form-group mt-2">

        <label for="passwordConfirmation">Шахматная федерация</label>
        <select name="country" class="simple-select2" id="country">
            <% for (var i in countries) { %>

            <option value="<%= i %>"><%= countries[i] %></option>



            <% } %>
        </select>
    </div>

    <div class="g-recaptcha" data-sitekey="6LenQHwUAAAAAEPHNNGBzDR9XaDFLkDLWjYfMFDo"></div>


    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"><%- __("MenuReg") %></button>

    <a href="/login" class="btn btn-light btn-block mt-3"><%- __("MenuLogin") %></a>



</form>

<link rel="stylesheet" href="/stylesheets/select2.css" />

<link rel="stylesheet" href="/js/select2/dist/select2-bootstrap4.min.css">
<link rel="stylesheet" href="/stylesheets/flags.css">
<script src="/js/select2.js"></script>


<script>
    var country = '<% if (typeof country != "undefined") { %><%=country%><% } else { %>><%='RU'%><% } %>';
</script>

<script>
    $('.simple-select2').select2({
        theme: 'bootstrap4',
        placeholder: "Select an option",
        allowClear: true,
        templateResult: formatCountry,

    }).val(country).trigger('change');



    function formatCountry (country) {
        if (!country.id) { return country.text; }
        return $country = $(
            '<img src="/img/blank.png" class="flag flag-' + country.id.toLowerCase() + '" alt="" />' +
            ' <span>' + country.text + '</span>'
        );
    };
</script>

<!--<script>
    function changed() {
        if ($("#role").val() === "100") {
            $("#school_id_wrapper").show();
        } else {
            $("#school_id_wrapper").hide();
        }
        if ($("#role").val() === "1000") {
            $("#inputName").attr("placeholder", "Название шахматной школы");
            $("#labelinputName").html("Название шахматной школы");
        } else {
            $("#inputName").attr("placeholder", "Фамилия и имя");
            $("#labelinputName").html("Фамилия и имя");
        }
    }
</script>-->
