
<% layout('boilerplate') -%>




<div class="row mt-5">



    <form action="" method="post" id="secret_form">

<div class="col-md-12 mt-2">
    <h3>Edit profile</h3>
    <hr>

    <div class="secret_errors alert alert-danger hidden"></div>
    <div class="secret_success alert alert-success hidden"></div>

    <!--<div class="row">
        <div class="col-sm-3">
            Photo
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/images/user.png" alt="Profile photo" class="img-thumbnail rounded">

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Изменить</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-sm-3">
            Email
        </div>
        <div class="col-sm-9">
            <h4 class="mt-0">
                <input class="form-control " name="email" id="email" value="<%= profile.email %>" type="text" placeholder=".form-control-lg">
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Lichess.org
        </div>
        <div class="col-sm-9">
            <h4 class="mt-0">
                <input class="form-control " name="lichess" id="lichess" value="<%= (profile.lichess) ? profile.lichess : "" %>" type="text" placeholder="lichess.org account">
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Chess Federation
        </div>
        <div class="col-sm-9">

            <select name="country" class="simple-select2" id="country">
                <% for (var i in countries) { %>

                    <option value="<%= i %>" <%= (typeof profile !== "undefined" && i === profile.country) ? "selected" : "" %>><%= countries[i] %></option>



                <% } %>
            </select>

        </div>
    </div>

    <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>





    <% } %>

    <link rel="stylesheet" href="/stylesheets/select2.css" />

    <link rel="stylesheet" href="/js/select2/dist/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="/stylesheets/flags.css">
    <script src="/js/select2.js"></script>

    <script>
        $("#secret_form").on("submit", function () {
            $(".secret_errors").addClass("hidden").empty();
            $(".secret_success").addClass("hidden").empty();

            $.post("/users/update"  , {
                secret : $("#secret").val(),
                name : $("#name").val(),
                lichess : $("#lichess").val(),
                chesscom : $("#chesscom").val(),
                email : $("#email").val(),
                country : $("#country").val(),
            }).done(function (data) {
                if (data.status != "ok") {
                    $(".secret_errors").removeClass("hidden");
                    for (var obj in data.errors) {
                        $(".secret_errors").append(data.errors[obj].msg);
                    }
                } else {
                    location.href = "/users/" + "<%= profile.id %>";
                    /*$(".secret_success").html("Обновлено!").removeClass("hidden").slideDown();
                    setTimeout(function () {
                        $(".secret_success").slideUp(function () {
                            $(this).addClass("hidden")
                        });

                    }, 3000);*/
                }
            }).fail(function (data, jqXHR, textStatus) {
                $(".errors").removeClass("hidden");
                if (data) {
                    $(".secret_errors").removeClass("hidden");

                    for (var obj in data.responseJSON.errors) {
                        $(".secret_errors").append(data.responseJSON.errors[obj].msg + "<br/>");

                    }
                } else {
                    alert("Ошибка сохранения");
                }
            });
            return false;
        });

        $('.simple-select2').select2({
            theme: 'bootstrap4',
            placeholder: "Select an option",
            allowClear: true,
            templateResult: formatCountry,

        });



        function formatCountry (country) {
            if (!country.id) { return country.text; }
            return $country = $(
                '<img src="/img/blank.png" class="flag flag-' + country.id.toLowerCase() + '" alt="" />' +
                ' <span>' + country.text + '</span>'
            );
        };
    </script>

    <div class="mt-2 text-right">
        <button class="btn btn-primary btn-lg" type="submit">Save</button>
    </div>
</div>
</form>




</div>