
<% layout('boilerplate') -%>

<style>
    .text-light-gray {
        color: #bbb;
        font-size: 0.6em;
    }
</style>




<div class="row">

<div class="col-md-8 mt-2">
    <div class="row">

        <div class="col-sm-3">

            <img src="/images/user.png" alt="Profile photo" class="img-thumbnail rounded">

        </div>

        <div class="col-sm-9">
            <h4 class="mt-0"><%= profile.name %> <span class="text-light-gray"></span></h4>
            <table class="table table-sm table-light">

                <tbody>
                <tr>
                    <th scope="row">Federation</th>
                    <td>
                        <% if (profile.country) {%>
                            <%= countries[profile.country] %>
                        <%}%>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>







    <h3>Lichess account</h3>
    <% if (profile.lichess) { %>
        <p>
            Lichess.org <a target="_blank" href="https://lichess.org/@/<%= profile.lichess %>">https://lichess.org/@/<%= profile.lichess %></a>
        </p>
    <% } %>




</div>

    <div class="col-md-4 mt-2">
        <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>
            <a href="/users/<%= profile.id %>/edit " class="btn btn-danger btn-block btn-lg pull-left">Edit</a>
        <% } %>
    </div>
</div>


<script>
    var visited_at = '<%= profile.visited_at %>';
    var current = '<%= profile.current %>';
</script>

<script src="/js/profile.min.js"></script>
