
<% layout('boilerplate') -%>

<style>
    .text-light-gray {
        color: #bbb;
        font-size: 0.6em;
    }
</style>

<div class="row mt-3">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/users">Пользователи</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= profile.name %></li>
            </ol>
        </nav>
    </div>
</div>


<div class="row">

<div class="col-md-8 mt-2">
    <div class="row">

        <div class="col-sm-3">

            <img src="/images/user.png" alt="Profile photo" class="img-thumbnail rounded">

        </div>

        <div class="col-sm-9">
            <h4 class="mt-0"><%= profile.name %> <span class="text-light-gray"></span></h4>
            <table class="table table-sm table-light">

                <tbody>
                <tr>
                    <th scope="row">Federation</th>
                    <td>
                        <% if (profile.country) {%>
                            <%= countries[profile.country] %>
                        <%}%>
                    </td>
                </tr>
                <tr>
                    <th scope="row">FIDE title</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td><%= profile.tournaments_rating %></td>
                </tr>
                <tr>
                    <th scope="row">Online Rating</th>
                    <td><%= profile.tournaments_rating %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>



        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Закрытый раздел</h4>


                    <p>Видно только работникам сайта для выплаты призовых</p>
                    <hr>
                    <div class="form-group">
                        <%= (typeof profile !== "undefined" && profile.secret != null) ? profile.secret : "" %>
                    </div>
                </div>
            </div>
        </div>

    <% } %>

    <h3>Награды</h3>
    <h3>Последние партии</h3>

    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Result</th>
        </tr>
        </thead>
        <tbody>




    <% for (var i = 0; i < games.length; i++) { %>
        <% if (games[i].p1_id != null && games[i].p2_id != null) { %>
            <tr>
                <td>
                    <%= games[i].p1_name %> - <%= games[i].p2_name %>
                </td>
                <td class="text-center">
                    <%= games[i].p1_won %> - <%= games[i].p2_won %>
                </td>
            </tr>
        <% } %>
    <% } %>

        </tbody>
    </table>
    <h3>Последние турниры</h3>


    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
        </tr>
        </thead>
        <tbody>




        <% for (var i = 0; i < tournaments.length; i++) { %>

            <tr>
                <td>
                    <a href="/tournament/<%= tournaments[i].t_id %>"><%= tournaments[i].title %></a>
                </td>

            </tr>

        <% } %>

        </tbody>
    </table>

</div>

    <div class="col-md-4 mt-2">
        <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>
            <a href="/users/<%= profile.id %>/edit " class="btn btn-danger btn-block btn-lg pull-left">Edit</a>
        <% } %>
    </div>
</div>


<script>
    var visited_at = '<%= profile.visited_at %>';
    var current = '<%= profile.current %>';
</script>

<script src="/js/profile.min.js"></script>
