
<% layout('boilerplate') -%>

<style>
    .text-light-gray {
        color: #bbb;
        font-size: 0.6em;
    }
</style>



<div class="row">

<div class="col-md-8 mt-5">
    <div class="row">

        <div class="col-sm-3">



            <img src="<%= (profile.image) ? profile.image : '/images/user.png' %>"
                 id="image" alt="Profile photo"
                 class="img-thumbnail rounded">
            <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Choose image</label>
                    <input type="file" accept="image/*" name="lol" class="form-control-file" id="exampleFormControlFile1">
                    <div id="container"></div>
                </div>
                <hr>
            <% } %>
        </div>

        <div class="col-sm-9">
            <h4 class="mt-0"><%= profile.name %> <span class="text-light-gray"></span></h4>
            <table class="table table-sm table-light">

                <tbody>
                <tr>
                    <th scope="row">Federation</th>
                    <td>
                        <% if (profile.country) {%>
                            <%= countries[profile.country] %>
                        <%}%>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>








    <% if (profile.lichess) { %>
    <h3>Lichess account</h3>
        <p>
            Lichess.org <a target="_blank" href="https://lichess.org/@/<%= profile.lichess %>">https://lichess.org/@/<%= profile.lichess %></a>
        </p>
    <% } %>




</div>

    <div class="col-md-4 mt-2 mt-5">
        <% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>
            <a href="/users/<%= profile.id %>/edit " class="btn btn-danger btn-block btn-lg pull-left">Edit</a>
        <% } %>
    </div>
</div>


<script>
    var visited_at = '<%= profile.visited_at %>';
    var current = '<%= profile.current %>';
</script>

<script src="/js/profile.min.js"></script>


<% if (user && user.user && (user.user.id === 1 || user.user.id == profile.id)) { %>
<script src="/js/html5uploader.js"></script>
<script>

    if (typeof Html5Upload != "undefined") {
        var fileuploader = new Html5Upload({
            input: "#exampleFormControlFile1",
            filenameAttr : "name",
            statusContainer: "#container",
            upload_url : "/users/upload",
            callbacks: {
                before_send: function(xhr, fd, file){
//                    fd.append("team_id", team_id);
                },
                complete: function (response, xhr, responseText) {
                    if (response.status == "ok") {
                        $("#image").attr("src", response.image);
                    } else {
                        alert("Error. Check the file.");
                    }
                    console.log(response);
                }

            }});
        fileuploader.setHandler();
    }

</script>
<% } %>

