
<% layout('boilerplate') -%>
<link rel="stylesheet" href="/js/cg/assets/s.min.css">
<link rel="stylesheet" href="/stylesheets/board.css">
<link rel="stylesheet" href="/stylesheets/common.css">
<link rel="stylesheet" href="/stylesheets/piece/cburnett.css">
<link rel="stylesheet" href="/stylesheets/study.css">
<link rel="stylesheet" href="/stylesheets/board.coords.inner.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">


<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><%- __("Tournaments") %></a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>"><%= tournament.title %></a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>/tour/<%= game.tour %>">Tour <%= game.tour %></a></li>
                <li class="breadcrumb-item" aria-current="page">Game № <%= game.id %></li>
            </ol>
        </nav>
    </div>
</div>

<a href="/tournament/<%= tournament.id %>/tour/<%= game.tour %>" class="btn btn-primary "><%- __("ParticipantsToTournament") %></a>

<!--<h3 class="d-flex justify-content-between mt-3 mb-3 d-none d-lg-block">Game № <%= game.id %></h3>-->

<div class="alert alert-danger mt-1 mb-1 hidden" id="timeleft_white">Время на ход белых: <span id="timer"></span></div>




    <div class="col-12 is2d" id="task_header">
        <div class="row">
            <div class="col-lg-6 col-md-12" id="wrpr">


            </div>
            <div class="col-lg-6 d-none d-lg-block" >

            </div>
            <div id="game">
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div id="tsk" class="row"></div>
    </div>



<audio id="move_sound" preload="none">
    <source src="/sounds/Move.mp3" type="audio/mpeg"></source>
    <source src="/sounds/Move.ogg" type="audio/ogg"></source>
</audio>

<audio id="capture_sound" preload="none">
    <source src="/sounds/Capture.mp3" type="audio/mpeg"></source>
    <source src="/sounds/Capture.ogg" type="audio/ogg"></source>
</audio>


<script>

    var clientWidth = document.documentElement.clientWidth;
    var u;
    var g = '<%= game.id %>';
    var fen = '<%= (mongoGame) ? mongoGame.fen : null %>';
    var is_started = '<%= (mongoGame) ? mongoGame.is_started : 0 %>';
    var is_over = parseInt('<%= game.is_over %>');
    var timeleft = parseInt('<%- timeleft %>');

</script>


<% if (user && user.user) { %>
    <script>
        var u = '<%= user.user.id %>';
        var g = '<%= game.id %>';
        var fen = '<%= (mongoGame) ? mongoGame.fen : null %>';
    </script>
<% }  %>

<script>

    var p1 = '<%= game.p1_id %>';
    var p2 = '<%= game.p2_id %>';


    var tourney_id = '<%= game.tournament_id %>';
    var tour_id = '<%= game.tour %>';

    var p1_name = '<%= game.p1_name %>';
    var p2_name = '<%= game.p2_name %>';

    var p1_time_left = '<%= p1_time_left %>';
    var p2_time_left = '<%= p2_time_left %>';

    var p1_tournaments_rating = (is_over) ? '<%= game.p1_rating_for_history %>' : '<%= game.p1_tournaments_rating %>';
    var p2_tournaments_rating = (is_over) ? '<%= game.p2_rating_for_history %>' : '<%= game.p2_tournaments_rating %>';

    var p1_rating_for_history = '<%= game.p1_rating_for_history %>';
    var p2_rating_for_history = '<%= game.p2_rating_for_history %>';

    var rating_change_p1 = '<%= game.rating_change_p1 %>' || null;
    var rating_change_p2 = '<%= game.rating_change_p2 %>' || null;

</script>

<script src="/socket.io/socket.io.js"></script>


<script src="/js/j.js"></script>
<script src="/js/cg/dist/chessground.js"></script>

<script src="/js/game.min.js"></script>





