
<% layout('boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/game.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:700" async rel="stylesheet">

<style>
    .mobile-btn {
        font-size: 60px;
        width: 50%
    }
    #dirty {
        display: none;
    }
    .result {
        margin-bottom: 0;
    }
</style>

<% if (tournament) { %>


<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><%- __("Tournaments") %></a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>"><%= tournament.title %></a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>/tour/<%= game.tour %>">Tour <%= game.tour %></a></li>
                <li class="breadcrumb-item" aria-current="page">Game #<%= game.id %></li>
            </ol>
        </nav>
    </div>
</div>

<a href="/tournament/<%= tournament.id %>" class="btn btn-primary "><%- __("ParticipantsToTournament") %></a>
<a href="/tournament/<%= tournament.id %>/tour/<%= game.tour %>" class="btn btn-info">Тур <%= game.tour %></a>


<% } else { %>
<div class="row mt-3">
    <div class="col-lg-12 ">
        <a href="/play" class="btn btn-primary btn-sm-block">В лобби</a>
    </div>
</div>


<% } %>

<div class="is2d" id="game">
    <div class="">
        <div class="col-md-12 col-lg-6" id="wrpr"></div>
        <div class="col-md-12 col-lg-6" ></div>
    </div>
    <div class="mt-1 row lichess_ground lichess_board_wrap" id="lichess_ground">


                <div class="col-md-12 col-lg-6 col-sm-12">

                    <div class="clock_top">
                        <div id="up_player_online" class="username user_link black offline pt-2 pb-2 player_bar up_player_online">
                            <i class="line" title="Joined the game"></i>
                            <a class="text ulpt name" data-pt-pos="s" href="" target="_self">
                                <span class="up_name"></span>
                                <span class="rating up_tournaments_rating elo"></span>
                                <span class="rp up_rating_change"></span>
                            </a>

                            <span class="time aclock clock_top_time"></span>
                        </div>
                    </div>


                    <div class="blue merida">
                        <div id="dirty" class="cg-board-wrap">
                            <h2>Загрузка...</h2>
                        </div>
                    </div>

                    <div class="clock_bottom">
                        <div id="bottom_player_online" class="username user_link black offline pt-2 pb-2 player_bar bottom_player_online">
                            <i class="line" title="Joined the game"></i>
                            <a class="text ulpt name " data-pt-pos="s" href="" target="_self">
                                <span class="bottom_name"></span>
                                <span class="rating bottom_tournaments_rating elo">
                                </span>
                                <span class="rp bottom_rating_change"></span>
                            </a>



                            <span class="time aclock clock_bottom_time"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">


                            <div class="table_wrap hidden">

                                <div class="clock clock_top">
                                    <div class="time clock_top_time">

                                    </div>
                                    <div class="bar"></div>
                                </div>


                                <div class="table">
                                    <div>
                                        <div class="username user_link black offline up_player_online" id="up_player_online">
                                            <i class="line" title="Joined the game"></i>
                                            <a class="text ulpt up_name" data-pt-pos="s" href="" target="_self"></a>
                                            <span class="rating up_tournaments_rating">
                                            </span>
                                            <span class="rp up_rating_change"></span>
                                        </div>


                                        <div class="replay">
                                            <div class="buttons">
                                                <button class="fbt flip hint--top" data-hint="Перевернуть доску"
                                                        data-act="flip" disabled><span data-icon="B"></span></button>
                                                <nav>
                                                    <button class="fbt" data-icon="W" data-ply="0" disabled></button>
                                                    <button class="fbt" data-icon="Y" data-ply="28" disabled></button>
                                                    <button class="fbt" data-icon="X" data-ply="30" disabled></button>
                                                    <button class="fbt" data-icon="V" data-ply="39" disabled></button>
                                                </nav>
                                                <button class="fbt  hint--top" data-hint="Перевернуть доску"
                                                        data-act="" disabled><span data-icon=""></span></button></div>
                                            <div class="moves"></div>

                                        </div>

                                        <% if (user && user.user && (user.user.id == mongoGame.p1_id || user.user.id == mongoGame.p2_id)) { %>
                                        <div>
                                            <div class="control buttons rematch hidden">
                                                <div class="follow_up">
                                                    <a class="text fbt strong glowed tourney_text" data-icon="G"
                                                       href=""></a>
                                                </div>
                                            </div>

                                            <div class="control buttons hidden">
                                                <div class="negotiation"><p>Ваш соперник предлагает вам ничью</p>
                                                    <a class="accept" data-icon="E" title="Принять"></a>
                                                    <a class="decline" data-icon="L" title="Отклонить"></a>
                                                </div>
                                            </div>
                                            <div class="control buttons hidden">
                                                <div class="pending">
                                                    <p>Предложение ничьей отправлено</p>
                                                </div>
                                            </div>

                                            <div class="control icons players-btns hidden">
                                                <button disabled class="fbt hint--bottom takeback-yes"
                                                        data-hint="Попросить соперника вернуть ход">
                                                    <span data-icon="i"></span>
                                                </button>
                                                <button class="fbt hint--bottom draw-yes draw" disabled
                                                        data-hint="Предложить ничью">
                                                    <span data-icon="2"></span>
                                                </button>

                                                <button class="fbt hint--bottom resign-confirm resign"
                                                        onClick={this.resign} data-hint="Сдаться"><span
                                                            data-icon="b"></span></button>
                                            </div>
                                        </div>

                                        <% } %>


                                        <div class="username user_link black offline bottom_player_online" id="bottom_player_online">
                                            <i class="line" title="Joined the game"></i>
                                            <a class="text ulpt bottom_name" data-pt-pos="s" href="" target="_self"></a>

                                            <span class="rating bottom_tournaments_rating"></span>
                                            <span class="rp bottom_rating_change"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="clock clock_bottom">
                                    <div class="bar"></div>
                                    <div class="time clock_bottom_time"></div>
                                </div>
                            </div>


                            <div class="alert alert-secondary mt-1 mb-1 p1_won hidden" ><b>Белые выиграли</b></div>

                            <div class="alert alert-secondary mt-1 mb-1 p2_won hidden" ><b>Черные выиграли</b></div>

                            <div class="alert alert-secondary mt-1 mb-1 p2_draw hidden" ><b>Ничья</b></div>

                            <div>
                                <div class="alert alert-danger mt-1 mb-1 hidden" id="timeleft_white">Время на ход белых: <span class="timeleft"></span></div>
                                <div class="alert alert-primary mt-1 mb-1 hidden" id="timeleft_black">Время на ход черных: <span class="timeleft"></span></div>
                            </div>

                            <% if (user && user.user && (user.user.id == mongoGame.p1_id || user.user.id == mongoGame.p2_id)) { %>

                                <div class="mobile-controls hidden">
                                    <div>
                                        <div class="control buttons rematch hidden">
                                            <div class="follow_up">
                                                <a class="text fbt strong glowed tourney_text tourney_href rematch hidden" data-icon="G"   href=""></a>
                                            </div>
                                        </div>

                                        <div class="control buttons hidden">
                                            <div class="negotiation"><p>Ваш соперник предлагает вам ничью</p>
                                                <a class="accept" data-icon="E" title="Принять"></a>
                                                <a class="decline" data-icon="L" title="Отклонить"></a>
                                            </div>
                                        </div>
                                        <div class="control buttons hidden">
                                            <div class="pending">
                                                <p>Предложение ничьей отправлено</p>
                                            </div>
                                        </div>

                                        <div class="control icons players-btns hidden">
                                            <button disabled class="fbt hint--bottom takeback-yes"
                                                    data-hint="Попросить соперника вернуть ход">
                                                <span data-icon="i"></span>
                                            </button>
                                            <button class="fbt hint--bottom draw-yes draw" disabled
                                                    data-hint="Предложить ничью">
                                                <span data-icon="2"></span>
                                            </button>

                                            <button class="fbt hint--bottom resign-confirm resign"
                                                    onClick={this.resign} data-hint="Сдаться"><span
                                                        data-icon="b"></span></button>
                                        </div>
                                    </div>
                                </div>
                            <% } %>


                            <style>
                                form * {
                                    display: block;
                                    margin: 10px;
                                }
                            </style>



                            <!--<div>
                                <button class="fbt mobile-btn d-lg-none" onClick={this.goBack} data-icon="Y" data-ply="28"></button>
                                <button class="fbt mobile-btn d-lg-none" onClick={this.goForward} data-icon="X" data-ply="30" disabled=""></button>
                            </div>-->
                        </div>


                        <div class="col-md-6 col-lg-6 col-sm-12" id="chat_side">
                            <div class="side_box padded">
                                <div class="players">

                                    <div class="player color-icon is white text">
                                        <a class="user_link ulpt" href="">
                                            <span class="p1_name"></span>&nbsp;<span class="p1_tournaments_rating"></span>
                                        </a>
                                    </div>

                                    <div class="player color-icon is black text">
                                        <a class="user_link" href="">
                                            <span class="p2_name"></span>
                                            &nbsp;
                                            <span class="p2_tournaments_rating"></span>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div id="chat">
                                <div class="chat">
                                    <div class="messages p-1" id="messages">

                                    </div>



                                    <% if (user && user.user) { %>
                                        <div class="input-group posAbsolute">
                                            <input type="text" class="form-control message-input-text" ref="text" placeholder="Message..."  aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary sendMessage" type="button" onClick={this.sendMessage}>Send</button>
                                            </div>
                                        </div>
                                    <% } else { %>

                                        <div class="input-group posAbsolute d-flex justify-content-center align-items-end"><a href="/login">Login</a>&nbsp; or &nbsp;<a href="/signup">register</a>&nbsp; to&nbsp; chat </div>



                                    <%  } %>



                                </div>
                            </div>
                            <input class="btn btn-light btn-block mt-2"  id="copy_pgn" type="submit" value="Copy PGN">
                            <form id="download_pgn_form">
                                <input class="btn btn-light btn-block m-0  mt-2"  type="submit" value="Download PGN">
                            </form>

                        </div>

                    </div>
                </div>



    </div>
</div>


<div class="col-lg-12">
    <div id="tsk" class="row"></div>
</div>


<script>

    var clientWidth = document.documentElement.clientWidth;
    var u;
    var fen = '<%= (mongoGame) ? mongoGame.fen : null %>';
    var moves = '<%= (mongoGame) ? mongoGame.moves : null %>';
    var is_started = '<%= (mongoGame) ? mongoGame.is_started : 0 %>';
    var timeleft = parseInt('<%- timeleft %>');
    var p1_time_left = '<%= p1_time_left %>';
    var p2_time_left = '<%= p2_time_left %>';
    var is_over = parseInt('<%= mongoGame.is_over %>');
    var p1_won = parseFloat('<%= mongoGame.p1_won %>');
    var p2_won = parseFloat('<%= mongoGame.p2_won %>');
    var p1_name = '<%= mongoGame.p1_name %>';
    var p2_name = '<%= mongoGame.p2_name %>';
    var amount = '<%= mongoGame.amount %>';
    var time_inc = '<%= mongoGame.time_inc %>';
    var reason = '<%= mongoGame.reason %>';

    var p1 = '<%= mongoGame.p1_id %>';
    var p2 = '<%= mongoGame.p2_id %>';
</script>


<% if (user && user.user) { %>
<script>
    var u = '<%= user.user.id %>';
    var user_name = '<%= user.user.name %>';

    var fen = '<%= (mongoGame) ? mongoGame.fen : null %>';
</script>
<% }  %>

<% if (typeof game != "undefined") { %>


<script>

    var g = '<%= game.id %>';
    var tourney_id = '<%= game.tournament_id %>';
    var tour_id = '<%= game.tour %>';
    var p1_tournaments_rating = (is_over) ? '<%= game.p1_rating_for_history %>' : '<%= game.p1_tournaments_rating %>';
    var p2_tournaments_rating = (is_over) ? '<%= game.p2_rating_for_history %>' : '<%= game.p2_tournaments_rating %>';

    var p1_rating_for_history = '<%= game.p1_rating_for_history %>';
    var p2_rating_for_history = '<%= game.p2_rating_for_history %>';
    var p1_rating_change = '<%= game.rating_change_p1 %>' || null;
    var p2_rating_change = '<%= game.rating_change_p2 %>' || null;

    var p1_name = '<%= game.p1_name %>';
    var p2_name = '<%= game.p2_name %>';

</script>
<% } else {  %>
<script>
    var g = '<%= mongoGame._id %>';

    var p1_tournaments_rating = null;
    var p2_tournaments_rating = null;
</script>
<% }  %>

<script>
    window.g_ws_params = {
        g : g,
    }
    window.chat_id = "g" + g;
</script>

<script src="/js/cg/dist/c.min.js?01"></script>

<script src="/js/g.min.js?01"></script>
<!--<script src="/js/chat.min.js"></script>-->


<!-- small modal -->
<div class="modal" id="rematchModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel" style="width: 100%">РЕВАНШ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="decline_rematch">Отказ</button>
                <button type="button" class="btn btn-primary btn-lg" id="accept_rematch">Согласен</button>
            </div>

        </div>
    </div>
</div>



<div class="modal" id="pgnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PGN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="pgn_copy" rows="10" style="width: 100%; height: 100%">
                    asdas
                </textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






