<div class="errors alert alert-danger hidden"></div>

<label for="title">Название лиги</label>
<input type="text" id="title" name="title" class="form-control"
       value="<%= (typeof tournament !== "undefined") ? tournament.title : "" %>">



<div class="row">
    <div class="col-sm-12">
        <label for="country" class="mt-3"><%- __("CreateCountry") %></label>
        <br>
        <select name="country" class="simple-select2" id="country">
            <% for (var i in countries) { %>
            <option value="<%= i %>" <%= (typeof tournament !== "undefined" && i === tournament.country) ? "selected" : "" %>><%= countries[i] %></option>
            <% } %>
        </select>
    </div>
</div>




<input type="submit" class="btn btn-primary mt-3" value="<%- __("Save") %>">

