
<% layout('boilerplate') -%>


<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/leagues">Лиги</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= league.name %></li>
            </ol>
        </nav>
    </div>
</div>




<div class="row">
    <div class="col-lg-9">

        <div class="flex-column align-items-start ">
            <div class="row">
                <div class="col-lg-9">
                    <h3><%= league.name %></h3>
                </div>

                <div class="col-lg-3">
                    <% if (user && user.user && (league.creator_id === user.user.id)) { %>
                        <a href="/leagues/<%= league.id %>/edit" class="btn btn-success btn-sm float-right">Редактировать</a></h3>
                    <% } %>
                </div>
            </div>
        </div>

        <hr>
        <div>
            <h3>Описание</h3>
            <p><%-  league.description  %></p>
        </div>

        <hr>

        <div class="flex-column align-items-start ">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Сезоны</h3>
                </div>
                <div class="col-lg-3">
                    <% if (user && user.user && (league.creator_id === user.user.id)) { %>
                        <a href="/leagues/create" class="btn btn-success btn-sm float-right" id="add_season">Добавить сезон</a></h3>
                    <% } %>
                </div>
            </div>
        </div>





        <div>
            <div class="list-group">

                <% for (var i = 0; i < seasons.length; i++) { %>
                    <a href="/leagues/<%= league.id %>/season/<%= seasons[i].id %>" class="list-group-item list-group-item-action">
                       <%= seasons[i].name %>
                        <% if (seasons[i].is_over) { %>
                            <span class="badge badge-danger">Завершён</span>
                        <% } %>
                    </a>
                <% } %>



            </div>


        </div>
    </div>
    <div class="col-lg-3">

        <img src="<%=  league.image  %>" class="img-thumbnail" alt="">


        <div class="mt-2 mb-2">Создатель: <%= league.creator_name %></div>

    </div>
</div>



<script>
    var u = null;

    var _Participants = '<%- __("Participants") %>';
    var _leagues = '<%- __("Participantsleagues") %>';
    var _ToTournament = '<%- __("ParticipantsToTournament") %>';
    var _AddParticipant = '<%- __("ParticipantsAddParticipant") %>';
    var _Addleague = '<%- __("ParticipantsAddTeam") %>';
    var _AddingTeam = '<%- __("ParticipantsAddingTeam") %>';
    var _Administrators = '<%- __("ParticipantsAdministrators") %>';
    var _Search = '<%- __("ParticipantsSearch") %>';
    var _SuccessUpdate = '<%- __("ParticipantsSuccessUpdate") %>';
    var _TeamName = '<%- __("ParticipantsTeamName") %>';
    var _Close = '<%- __("Close") %>';
    var _Save = '<%- __("Save") %>';
    var _Saving = '<%- __("Saving") %>';
    var _Status = '<%- __("ParticipantsStatus") %>';
    var _Waiting = '<%- __("ParticipantsWaiting") %>';
    var _Rating = '<%- __("ParticipantsRating") %>';
    var _Name = '<%- __("Name") %>';
    var _ParticipantAdded = '<%- __("ParticipantAdded") %>';
    var _RequestSent = '<%- __("ParticipantRequestSent") %>';
    var _ChooseTeam = '<%- __("ParticipantsChooseTeamTitle") %>';
    var _Board = '<%- __("Board") %>';
    var _Points = '<%- __("Points") %>';
    var _Result = '<%- __("Result") %>';
    var _Saved = '<%- __("Saved") %>';
    var _SaveError = '<%- __("SaveError") %>';
    var _Tour = '<%- __("ParticipantTour") %>';
    var _AreYouSure = '<%- __("ParticipantAreYouSure") %>';
</script>

<% if (user && user.user) { %>
<script>
    var user_id = '<%= user.user.id %>';
    var league_id = '<%= league.id %>';
</script>

<script src="/js/league.min.js"></script>
<% } %>

