
<% layout('boilerplate') -%>

<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><%- __("Tournaments") %></a></li>
                <li class="breadcrumb-item"><a href="/tournament/<%= tournament.id %>"><%= tournament.title %></a></li>
                <li class="breadcrumb-item" aria-current="page"><%- __("PairingTossUp") %></li>
            </ol>
        </nav>
    </div>
</div>


<div class="d-flex justify-content-between ">
    <div>
        <%- __("ToursCount") %> : <%= tournament.tours_count %> <br>
        <%  if (tournament.current_tour <= tournament.tours_count) { %>
        <%- __("CurrentTour") %> : <%= tournament.current_tour %>
        <% } else if (tournament.current_tour > tournament.tours_count)  { %>
        <%- __("TournamentClosed") %>
        <% } %>
    </div>

    <% if (user && user.user && user.user.id === tournament.creator_id) { %>

        <div class="d-flex justify-content-end noprint">
             <span class="noprint">
                <input type="button" class="btn btn-light noprint mr-2" value="<%- __("Print") %>" onClick="window.print()" />
            </span>

            <div class="dropdown mr-2 noprint">
                <button class="btn btn-info dropdown-toggle noprint" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%- __("Actions") %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="/tournament/<%= tournament.id %>/edit" class="dropdown-item"><%- __("Edit") %></a>
                    <a href="/tournament/<%= tournament.id %>/participants" class="dropdown-item"><%- __("Participants") %></a>
                    <a class="dropdown-item" href="#"  id="delete_all"><%- __("ResetTournament") %></a>
                </div>
            </div>

            <span class="noprint">
                <%  if ((tournament.current_tour === null || tournament.current_tour >= 0) && (tournament.current_tour < tournament.tours_count)) { %>
                <button class="btn btn-primary noprint btn-lg" id="next_tour"><%- __("PairingCreatePairing") %> <%= tournament.current_tour+1 %> <%- __("PairingOfTour") %></button>
                <% } else if (tournament.current_tour == tournament.tours_count) { %>
                <button class="btn btn-primary btn-lg noprint" id="next_tour"><%- __("PairingFinishTournament") %></button>
                <% } else if (tournament.current_tour >= tournament.tours_count) { %>
                <a href="/tournament/<%= tournament.id %>/final" class="btn btn-primary noprint btn-lg"><%- __("FinalTable") %></a>
                <% } %>
            </span>
        </div>

        <script>
            var owner = true;
        </script>

    <% } %>
</div>


<style>
    .green {
        color: green;
    }
    .red {
        color: red;
    }
    .teams-title {
        background: black;
        color : white;
    }
    .pairing-team-thead {
        font-size: 20px;
    }
</style>




<div class="row mt-3">
    <div class="col-12">
        <div id="pairing"></div>
    </div>
    <div class="col-12 text-center noprint">
        <span class="small"><%- __("Tours") %></span>
        <% for (var i = 1; i < tournament.tours_count + 1; i++) { %>
         <% if (typeof tour_id != "undefined" && i == tour_id) { %>
            <a class="btn btn-danger" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } else if (i <= tournament.current_tour) { %>
            <a class="btn btn-primary" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } else { %>
            <a class="btn btn-primary disabled" href="/tournament/<%= tournament.id %>/tour/<%= i %>"><%= i %></a>
        <% } %>



    <% } %>
        <% if (tournament.is_closed === 1) { %>
        <a class="btn btn-primary" href="/tournament/<%= tournament.id %>/final"><%- __("FinalTable") %></a>
        <% } %>
    </div>

</div>

<div class="modal" id="user_results_modal" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" id="user_results">

                <h2><%- __("Loading") %></h2>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    var pairing = JSON.parse('<%- pairing %>');
    var tournaments_teams = JSON.parse('<%- tournaments_teams %>');
    var pairs = JSON.parse('<%- pairs %>');
    var team_tour_points = JSON.parse('<%- team_tour_points %>');
    var teams_scores = JSON.parse('<%- teams_scores %>');
    var tournament_id = '<%= tournament.id %>';
    var type = '<%= tournament.type %>';
    var team_boards = '<%= tournament.team_boards %>';
    var current_tour = '<%= tournament.current_tour %>';
    var tour_id = '<%= (typeof tour_id != "undefined") ? tour_id : null %>';

</script>


<script src="/js/team_pairing.min.js"></script>