<div class="errors alert alert-danger hidden"></div>

<label for="title"><%- __("CreateTitle") %></label>
<input type="text" id="title" name="title" class="form-control"
       value="<%= (typeof tournament !== "undefined") ? tournament.title : "" %>">

<div class="row">
    <div class="col-sm-12">
        <label for="country" class="mt-3"><%- __("CreateType") %></label>
        <br>
        <select name="type" class="form-control" id="type">

            <option value="1" <%= (typeof tournament !== "undefined" && tournament.type == "1") ? "selected" : "" %>><%- __("CreateIndividSwiss") %></option>
            <!--<option value="2" <%= (typeof tournament !== "undefined" && tournament.type == "2") ? "selected" : "" %>><%- __("CreateRoundRobin") %></option>
            <option value="11" <%= (typeof tournament !== "undefined" && tournament.type == "11") ? "selected" : "" %>><%- __("CreateTeamSwissWithPlayers") %></option>
            <option value="20" <%= (typeof tournament !== "undefined" && tournament.type == "20") ? "selected" : "" %>><%- __("CreateTeamSwissWithoutPlayers") %></option>-->

        </select>
    </div>
</div>

<div class="row <%= (typeof tournament === "undefined" || tournament.type == "1" || tournament.type == "2") ? "hidden" : "" %>"
     id="team_boards-wrapper">
    <div class="col-sm-12">
        <label for="team_boards" class="mt-3"><%- __("CreateBoardsCount") %></label>
        <input type="text" id="team_boards" name="team_boards" class="form-control"
               value="<%= (typeof tournament !== "undefined" && tournament.team_boards != null) ? tournament.team_boards : "5" %>">

    </div>
</div>


<div class="row">
    <div class="col-sm-12 mt-3">
        <label for="amount">Контроль времени : </label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">

        <div id="slider-range-max"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-3">
        <label for="time_inc">Прибавка : </label>
        <input type="text" id="time_inc" readonly style="border:0; color:#f6931f; font-weight:bold;">

        <div id="slider-range-max-time_inc"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 mt-3">
        <label for="amount">Тип турнира: </label>
        <select name="is_online" id="is_online" class="form-control">


         <!--   <option value="0" <%= (typeof tournament !== "undefined" && tournament.is_online == 0) ? "selected"  : null %>>offline</option>-->

            <option value="1" <%= (typeof tournament !== "undefined" && tournament.is_online == 1) ? "selected"  : null %>>online</option>



        </select>
    </div>
</div>

<div class="mt-3">
    <div id="startDate"></div>

</div>
<div id="tours_count_wrapper">
    <label for="tours_count" class="mt-3"><%- __("CreateToursCount") %></label>
    <input type="text" id="tours_count" name="tours_count" class="form-control"
           value="<%= (typeof tournament !== "undefined") ? tournament.tours_count : "9" %>">
</div>

<label for="city" class="mt-3"><%- __("CreateCity") %></label>
<input type="text" id="city" name="city_id" class="form-control"
       value="<%= (typeof tournament !== "undefined") ? tournament.city : "Москва" %>">
<% if (typeof tournament !== "undefined") { %>
<input type="hidden" id="tournament_id" value="<%= tournament.id %>">
<script>
    var tournament = JSON.parse('<%- tournamentJSON %>');
</script>
<% } %>


<div class="row">
    <div class="col-sm-12">
        <label for="country" class="mt-3"><%- __("CreateCountry") %></label>
        <br>
        <select name="country" class="simple-select2" id="country">
            <% for (var i in countries) { %>
            <option value="<%= i %>" <%= (typeof tournament !== "undefined" && i === tournament.country) ? "selected" : "" %>><%= countries[i] %></option>
            <% } %>
        </select>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <label for="start_date" class="mt-3"><%- __("CreateDateStart") %></label>
        <input type="text" id="start_date" name="start_date" class="form-control"
               value="<%= (typeof tournament !== "undefined") ? tournament.start_date : "" %>">
    </div>
    <div class="col-sm-6">
        <label for="end_date" class="mt-3"><%- __("CreateDateEnd") %></label>
        <input type="text" id="end_date" name="end_date" class="form-control"
               value="<%= (typeof tournament !== "undefined") ? tournament.end_date : "" %>">
    </div>
</div>


<input type="submit" class="btn btn-primary mt-3" value="<%- __("Save") %>">


<script src="/js/datepair/dist/jquery.datepair.min.js"></script>
<script src="/js/start_date.min.js"></script>
<script src="/js/jquery-timepicker-master/jquery.timepicker.min.js"></script>
<script src="/js/jquery-timepicker-master/lib/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="/js/jquery-timepicker-master/jquery.timepicker.min.css">
<link rel="stylesheet" href="/js/jquery-timepicker-master/lib/bootstrap-datepicker.css">

<script>

    $( function() {

//        $('#basicExample').datepair();

        var defValue = '<%=  (typeof tournament !== "undefined") ? tournament.amount : "3" %>';
        var defInc = '<%=  (typeof tournament !== "undefined") ? tournament.time_inc : "0" %>';

        $("#type").on("change", function () {
            if ($(this).val() > 10) {
                $("#team_boards-wrapper").removeClass("hidden");
            } else {
                $("#team_boards-wrapper").addClass("hidden");
            }

            if ($(this).val() == 2) {
                $("#tours_count_wrapper").addClass("hidden");
            } else {
                $("#tours_count_wrapper").removeClass("hidden");
            }

        });

        $("#slider-range-max").slider({
            range: "max",
            min: 1,
            max: 10,
            value: defValue,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
            }
        });
        $("#amount").val($("#slider-range-max").slider("value"));


        $("#slider-range-max-time_inc").slider({
            min: 0,
            max: 10,
            step: 1,
            value: defInc,
            slide: function (event, ui) {
                $("#time_inc").val(ui.value);
            }
        });
        $("#time_inc").val($("#slider-range-max-time_inc").slider("value"));




    });




</script>