
<% layout('boilerplate') -%>


<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><%- __("Tournaments") %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= tournament.title %></li>
            </ol>
        </nav>
    </div>
</div>




<script>
    var u = null;

    var _Participants = '<%- __("Participants") %>';
    var _Teams = '<%- __("ParticipantsTeams") %>';
    var _ToTournament = '<%- __("ParticipantsToTournament") %>';
    var _AddParticipant = '<%- __("ParticipantsAddParticipant") %>';
    var _AddTeam = '<%- __("ParticipantsAddTeam") %>';
    var _AddingTeam = '<%- __("ParticipantsAddingTeam") %>';
    var _Administrators = '<%- __("ParticipantsAdministrators") %>';
    var _Search = '<%- __("ParticipantsSearch") %>';
    var _SuccessUpdate = '<%- __("ParticipantsSuccessUpdate") %>';
    var _TeamName = '<%- __("ParticipantsTeamName") %>';
    var _Close = '<%- __("Close") %>';
    var _Save = '<%- __("Save") %>';
    var _Saving = '<%- __("Saving") %>';
    var _Status = '<%- __("ParticipantsStatus") %>';
    var _Waiting = '<%- __("ParticipantsWaiting") %>';
    var _Rating = '<%- __("ParticipantsRating") %>';
    var _Name = '<%- __("Name") %>';
    var _ParticipantAdded = '<%- __("ParticipantAdded") %>';
    var _RequestSent = '<%- __("ParticipantRequestSent") %>';
    var _ChooseTeam = '<%- __("ParticipantsChooseTeamTitle") %>';
    var _Board = '<%- __("Board") %>';
    var _Points = '<%- __("Points") %>';
    var _Result = '<%- __("Result") %>';
    var _Saved = '<%- __("Saved") %>';
    var _SaveError = '<%- __("SaveError") %>';
    var _Tour = '<%- __("ParticipantTour") %>';
    var _AreYouSure = '<%- __("ParticipantAreYouSure") %>';
</script>

<script>
    var timeleft = parseInt('<%- timeleft %>');

</script>


<% if (tournament.is_online ===  1) { %>
<script>
    var timeleft = parseInt('<%- timeleft %>');

</script>


<% } %>


<% if (user && user.user) { %>
<script>
    var u = '<%= user.user.id %>';
    var user_name = '<%= user.user.name %>';
</script>
<% }  %>

<div class="row">
    <div class="col-sm-9">
<% if (user && user.user && user.user.id === tournament.creator_id) { %>
    <% if (tournament.is_closed != 1) { %>
        <a href="/tournament/<%= tournament.id %>/edit" class="btn btn-success"><%- __("Edit_tournament") %></a>
    <% } %>
<span class="dropdown mr-2 noprint">
    <button class="btn btn-info dropdown-toggle noprint" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%- __("Actions") %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="/tournament/<%= tournament.id %>/edit" class="dropdown-item"><%- __("Edit") %></a>
        <a href="/tournament/<%= tournament.id %>/participants" class="dropdown-item"><%- __("Participants") %></a>
        <a class="dropdown-item" href="#"  id="delete_all"><%- __("ResetTournament") %></a>
        <a class="dropdown-item" href="#"  id="delete_last">Отменить последний тур</a>
        <!--<a class="dropdown-item" href="#"  id="bots_invasion">Заполнить ботами</a>-->
          <div class="dropdown-divider"></div>

        <a class="dropdown-item btn btn-danger" href="#"  id="delete_tournament">Удалить турнир</a>
    </div>
</span>


<% if (tournament.is_online !==  1) { %>
    <a href="/tournament/<%= tournament.id %>/participants" class="btn btn-warning"><%- __("Participants") %></a>
<% } %>

<% } %>


<% if (tournament.is_online !==  1) { %>

        <% if (tournament.is_closed ===  1) { %>

            <a href="/tournament/<%= tournament.id %>/final" class="btn btn-primary"><%- __("FinalTable") %></a>

        <% } else if (tournament.current_tour == 0 && tournament.is_active ===  1) { %>

            <a href="/tournament/<%= tournament.id %>/tour/<%= tournament.current_tour %>" class="btn btn-primary float-right"><%- __("ShowGo") %></a>


        <% } else if (tournament.current_tour <= tournament.tours_count) { %>

            <a href="/tournament/<%= tournament.id %>/tour/<%= tournament.current_tour %>" class="btn btn-primary"> <%- __("ShowGoTour") %> <%= tournament.current_tour %></a>

        <% } %>

<% } %>



        <% if (tournament.is_active !==  1 && tournament.is_online ==  1 && tournament.type <  10) { %>
                <% if (user && user.user) { %>
                    <span id="get_in"></span>
                    <script src="/js/get_in.min.js"></script>
                <% } else { %>

                <a class="btn btn-primary float-right" href="/login">Войдите для участия</a>
                <% } %>
        <% } %>





        <% if (user && user.user && user.user.id === tournament.creator_id) { %>
            <h3 class="mt-3 mb-0"><%= tournament.title %> </h3>
        <% } else { %>
            <h3 class="mb-0"><%= tournament.title %> </h3>
        <% }  %>
        <!--<div class="badge badge-warning">Количество туров : <%= tournament.tours_count %></div>
        <div class="badge badge-light"><%= (tournament.is_online) ? "online" : "offline" %></div>-->


        <!--<ul class="nav nav-pills mb-3 mt-3  nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Участники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">О турнире</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">-->


        <div id="pairing"></div>


        <% if (tournament.is_active !==  1 && tournament.is_online === 1 && tournament.type > 10) { %>


        <style>
            .trash-team {
                color: white;

            }

            .first-row {
                border-top : 0
            }

            .borderless td, .borderless th {
                border: none;
            }
            .team-title {
                cursor: pointer;
                font-size: 20px;
            }
            .team-label {
                width: 100%;
            }
            .caret {
                font-size: 25px;
                cursor: pointer;
            }
            .caret:hover {
                color: white;
                background: black;
            }
            .select-team-btn {
                font-size: 14px;
                border-bottom: 1px dashed black;
            }
            .school-participants {
                overflow : auto;
            }
            .tournament-participants {
                overflow : auto;
            }
            .applier {

            }
            .applier .bg-light {
                background-color: inherit!important;
            }
            .border-radius-1 {
                border-radius: 10px;
            }
        </style>




        <div id="participants"></div>

        <script src="/js/participants.min.js"></script>


        <!--<div id="myteam"></div>
        <script src="/js/myteam.min.js"></script>-->
        <% }  %>


        <div id="team_tables"></div>

                <!--<div id="participants"></div>-->

            <!--</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>-->
    </div>

    <div class="col-sm-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Чат</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">О турнире</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="chat" class="side_box mchat optional">
                        <div class="chat">
                            <div class="messages p-1" id="messages"></div>
                            <% if (user && user.user) { %>
                            <div class="input-group posAbsolute">
                                <input onKeyDown={this.handleKeyPress} onInput={this.checkLength} onPaste={this.checkLength} type="text" class="form-control message-input-text" ref="text" placeholder="Message..."  aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary sendMessage" type="button" onClick={this.sendMessage}>Send</button>
                                </div>
                            </div>
                            <% } else { %>

                            <div class="input-group posAbsolute d-flex justify-content-center align-items-end"><a href="/login">Login</a>&nbsp; or &nbsp;<a href="/signup">register</a>&nbsp; to&nbsp; chat </div>
                            <%  } %>
                        </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <style>
                    #profile .alert {
                        padding: 0;
                    }
                    #profile .alert-success {
                        padding: .75rem 1.25rem;
                    }
                    .starting {
                        font-size: 16px;
                    }

                </style>
                <div class="alert alert-light mt-2" role="alert" style="padding-top: 0">
                    <div class="alert alert-success" role="alert">
                        <!--<div><%- __("CreateCity") %> : <%= tournament.city %> </div>-->
                        <% if (tournament.is_online !==  1) { %>
                            <div><%- __("CreateDateStart") %> : <%= tournament.start_date %></div>
                        <% } %>
                        <div>Контроль времени : <%= tournament.amount %> + <%= tournament.time_inc %></div>
                        <% if (tournament.type ==  1) { %>
                            <div>Система : Швейцарская</div>
                            <div><%- __("CreateToursCount") %> : <%= tournament.tours_count %></div>

                        <% } %>
                        <% if (tournament.type ==  2) { %>
                        <div>Система : Круговая</div>
                        <% } %>
                        <!--<div><%- __("CreateDateEnd") %> : <%= tournament.end_date %></div>-->
                        <!--<div><%- __("Created") %> : <%= tournament.created_at %></div>-->
                        <div><%- __("Creator") %> : <%= tournament.name %></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var tournament = JSON.parse('<%- tournamentJSON %>');

</script>


<script>
    window.g_ws_params = {
        t1 : tournament.id,

    }
    window.chat_id = "t" + tournament.id;

</script>

<% if (tournament.type > 10) { %>
<script>
    var tournaments_teams = JSON.parse('<%- tournaments_teams %>');
    var pairs = JSON.parse('<%- pairs %>');
    var team_tour_points = JSON.parse('<%- team_tour_points %>');
    var results_table = JSON.parse('<%- results_table %>');
    var participants_array = JSON.parse('<%- participants_array %>');
    var participants = JSON.parse('<%- participants %>');
    var participants_boards = JSON.parse('<%- participants_boards %>');
    var teams_scores = JSON.parse('<%- teams_scores %>');
    var tournament_id = '<%= tournament.id %>';
    var type = '<%= tournament.type %>';
    var team_boards = '<%= tournament.team_boards %>';
    var current_tour = '<%= tournament.current_tour %>';
    var tour_id = '<%= (typeof tour_id != "undefined") ? tour_id : null %>';
    var is_in = false;

</script>


<script src="/js/team_pairing.min.js"></script>
<script src="/js/teams_tables.min.js"></script>
<% } else { %>
<script>
    var participants = JSON.parse('<%- participantsJSON %>');
    var pairs = JSON.parse('<%- pairing %>');
    var is_in = <%- is_in %>;
</script>
<script src="/js/p.min.js"></script>

<% }  %>
