
<% layout('boilerplate') -%>


<div class="row mt-3">
    <div class="col-lg-12 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><%- __("Tournaments") %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= tournament.title %></li>
            </ol>
        </nav>
    </div>
</div>

<script>
    var u = null;

    var _Participants = '<%- __("Participants") %>';
    var _Teams = '<%- __("ParticipantsTeams") %>';
    var _ToTournament = '<%- __("ParticipantsToTournament") %>';
    var _AddParticipant = '<%- __("ParticipantsAddParticipant") %>';
    var _AddTeam = '<%- __("ParticipantsAddTeam") %>';
    var _AddingTeam = '<%- __("ParticipantsAddingTeam") %>';
    var _Administrators = '<%- __("ParticipantsAdministrators") %>';
    var _Search = '<%- __("ParticipantsSearch") %>';
    var _SuccessUpdate = '<%- __("ParticipantsSuccessUpdate") %>';
    var _TeamName = '<%- __("ParticipantsTeamName") %>';
    var _Close = '<%- __("Close") %>';
    var _Save = '<%- __("Save") %>';
    var _Saving = '<%- __("Saving") %>';
    var _Status = '<%- __("ParticipantsStatus") %>';
    var _Waiting = '<%- __("ParticipantsWaiting") %>';
    var _Rating = '<%- __("ParticipantsRating") %>';
    var _Name = '<%- __("Name") %>';
    var _ParticipantAdded = '<%- __("ParticipantAdded") %>';
    var _RequestSent = '<%- __("ParticipantRequestSent") %>';
    var _ChooseTeam = '<%- __("ParticipantsChooseTeamTitle") %>';
    var _Board = '<%- __("Board") %>';
    var _Points = '<%- __("Points") %>';
    var _Result = '<%- __("Result") %>';
    var _Saved = '<%- __("Saved") %>';
    var _SaveError = '<%- __("SaveError") %>';
    var _Tour = '<%- __("ParticipantTour") %>';
    var _AreYouSure = '<%- __("ParticipantAreYouSure") %>';
</script>

<script>
    var timeleft = parseInt('<%- timeleft %>');

</script>


<% if (tournament.is_online ===  1) { %>
<script>
    var timeleft = parseInt('<%- timeleft %>');

</script>


<% } %>

<script>
    var participants = JSON.parse('<%- participants %>');
    var tournament = JSON.parse('<%- tournamentJSON %>');
    var is_in = <%- is_in %>;
</script>
<% if (user && user.user) { %>
<script>
    var u = '<%= user.user.id %>';
</script>
<% }  %>

<div class="row">
    <div class="col-sm-9">
<% if (user && user.user && user.user.id === tournament.creator_id) { %>
    <% if (tournament.is_closed != 1) { %>
        <a href="/tournament/<%= tournament.id %>/edit" class="btn btn-success"><%- __("Edit_tournament") %></a>
    <% } %>
<span class="dropdown mr-2 noprint">
    <button class="btn btn-info dropdown-toggle noprint" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%- __("Actions") %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="/tournament/<%= tournament.id %>/edit" class="dropdown-item"><%- __("Edit") %></a>
        <a href="/tournament/<%= tournament.id %>/participants" class="dropdown-item"><%- __("Participants") %></a>
        <a class="dropdown-item" href="#"  id="delete_all"><%- __("ResetTournament") %></a>
        <a class="dropdown-item" href="#"  id="delete_last">Отменить последний тур</a>
          <div class="dropdown-divider"></div>

        <a class="dropdown-item btn btn-danger" href="#"  id="delete_tournament">Удалить турнир</a>
    </div>
</span>


<% if (tournament.is_online !==  1) { %>
<a href="/tournament/<%= tournament.id %>/participants" class="btn btn-warning"><%- __("Participants") %></a>
<% } %>

<% } %>


<% if (tournament.is_online !==  1) { %>

        <% if (tournament.is_closed ===  1) { %>

            <a href="/tournament/<%= tournament.id %>/final" class="btn btn-primary"><%- __("FinalTable") %></a>

        <% } else if (tournament.current_tour == 0 && tournament.is_active ===  1) { %>

            <a href="/tournament/<%= tournament.id %>/tour/<%= tournament.current_tour %>" class="btn btn-primary float-right"><%- __("ShowGo") %></a>


        <% } else if (tournament.current_tour <= tournament.tours_count) { %>

            <a href="/tournament/<%= tournament.id %>/tour/<%= tournament.current_tour %>" class="btn btn-primary"> <%- __("ShowGoTour") %> <%= tournament.current_tour %></a>

        <% } %>

<% } %>



            <% if (tournament.is_active !==  1 && tournament.is_online ==  1) { %>
                    <% if (user && user.user) { %>
                        <span id="get_in"></span>
                        <script src="/js/get_in.min.js"></script>
                    <% } else { %>

                    <a class="btn btn-primary float-right" href="/login">Войдите для участия</a>
                    <% } %>
            <% } %>


        <h3 class="" style="margin-bottom: 0"><%= tournament.title %> </h3>
        <!--<div class="badge badge-warning">Количество туров : <%= tournament.tours_count %></div>
        <div class="badge badge-light"><%= (tournament.is_online) ? "online" : "offline" %></div>-->


        <!--<ul class="nav nav-pills mb-3 mt-3  nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Участники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">О турнире</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">-->

                <div id="pairing"></div>

                <!--<div id="participants"></div>-->

            <!--</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>-->
    </div>

    <div class="col-sm-3">

        <div class="alert alert-light" role="alert" style="padding-top: 0">
            <div><%- __("CreateToursCount") %> : <%= tournament.tours_count %></div>
            <div><%- __("CreateCity") %> : <%= tournament.city %> </div>
            <div><%- __("CreateDateStart") %> : <%= tournament.start_date %></div>
            <div><%- __("CreateDateEnd") %> : <%= tournament.end_date %></div>
            <div><%- __("Created") %> : <%= tournament.created_at %></div>
            <div><%- __("Creator") %> : <%= tournament.name %></div>
        </div>

    </div>


</div>



<script src="/js/pairing.min.js"></script>
<script src="/js/timer.min.js"></script>


<!--<script src="/js/online_participants.min.js"></script>-->
<!--<script src="/js/chat.min.js"></script>-->


<link rel="stylesheet" href="/stylesheets/flags.css">